.dest-card-root {
    max-width: 80%;

    margin: auto;

    display: flex;
    flex-flow: row nowrap;

    padding: 40px;
    box-sizing: border-box;

    background-color: white;
    border-radius: 20px;

    box-shadow: 0px 10px 25px -10px rgba(0,0,0,0.8);

    gap: 20px;
}

.dest-card-root .head {
    display: flex;
    flex-flow: column nowrap;

    gap: 10px;
    min-width: 50%;
    text-align: center;
}

.dest-card-root .body {
    display: flex;
    flex-flow: column nowrap;

    align-items: flex-start;

    gap: 10px;
}


.dest-card-root .head .title {
    font-size: clamp(2.25rem, 0.825rem + 2.4vw, 3rem);
    font-weight: 900;
}

.dest-card-root .head .subtitle {
    font-size: clamp(1.25rem, 0.5375rem + 1.2vw, 1.625rem);
    font-weight: 200;
}

.dest-card-root .head .slideshow .image-frame {
    min-height: 500px;
}
.dest-card-root .head {
    position: relative;
}
.dest-card-root .head #mobile-user-actions-adaptation {
    display: none;
    flex-flow: column nowrap;
    gap: 5px;

    align-self: flex-start;

    position: absolute;
    top: 40%;
    right: 10px;

    & > .user-action {
        border-radius: 5px;
        padding: 10px 0;
        min-width: 50px;
        justify-content: center;

        background-color: #c5c5c56b;
        backdrop-filter: blur(30px);
    }
}



.dest-card-root .body .actions-reviews {
    display: flex;
    flex-flow: row nowrap;
    align-self: stretch;
    align-items: flex-end;
    justify-content: space-between;
}

.dest-card-root .body .actions-reviews .user-actions {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;

    & > .user-action {
        border-radius: 5px;
        padding: 10px 0;
        min-width: 50px;
        justify-content: center;
        --size: 1rem;
    }
}

.dest-card-root .body .user-actions .user-action svg{
    --size: clamp(0.7rem, -0.25rem + 1.6vw, 1.2rem);
} 

.dest-card-root .body .actions-reviews .average-reviews {
    &>p {
        font-size: 1rem;
        text-align: right;
        margin-right: 20px;
    }

    &>.review-score {
        --size: 1.3rem;
    }
}

.dest-card-root .body .about {
    font-size: clamp(1.875rem, 1.163rem + 1.2vw, 2.25rem);
    font-weight: 500;
    margin-top: 10px;
}

.dest-card-root .body .description {
    height: 400px;
    font-size: clamp(1rem, 0.43rem + 0.96vw, 1.3rem);
    line-height: clamp(1.5rem, 0.55rem + 1.6vw, 2rem);
    overflow-y: scroll;
    margin-bottom: 20px;
}

.dest-card-root .body .button-primary {

    align-self: center;
    --size: clamp(1rem, 0.05rem + 1.6vw, 1.5rem);
    padding: 10px 20px;
}

@media  screen and (max-width: 950px) {
    .dest-card-root {
        max-width: 95%;
        flex-flow: column nowrap;
    
        padding: 20px 30px;
        box-sizing: border-box;
    
        background-color: white;
        border-radius: 20px;
    
        gap: 10px;
    }

    .dest-card-root .head .slideshow .image-frame {
        min-height: 450px;
    }

    .dest-card-root .body {
        gap: 10px;
    }

    .dest-card-root .body .about {
        margin-top: 10px;
    }

    .dest-card-root .body .description {
        height: 250px;
        font-size: 1rem;
        line-height: 1.7rem;
        overflow-y: scroll;
    }

    .dest-card-root .body .button-primary {

        align-self: center;
        --size: 1.3rem;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 500px) {
    .dest-card-root .head .title {
        font-size: 38px;
    }

    .dest-card-root .head .subtitle {
        font-size: 20px;
    }

    .dest-card-root .body .actions-reviews .user-actions {
        display: none;
    }
    .dest-card-root .head #mobile-user-actions-adaptation {
        display: flex;
    }
    .dest-card-root .body .actions-reviews .average-reviews {
        &>p {
            font-size: 0.8rem;
            margin-right: 10px;
        }
    
        &>.review-score {
            --size: 1rem;
        }
    }

    .dest-card-root .body .actions-reviews {
        justify-content: flex-end;
    }

    .dest-card-root .body {
        gap: 5px;
    }

    .dest-card-root .body .about {
        margin-top: 5px;
    }

    .dest-card-root .body .description {
        height: 250px;
        font-size: 1rem;
        line-height: 1.5rem;
        overflow-y: scroll;
    }

    .dest-card-root .body .button-primary {

        align-self: center;
        --size: 1rem;
        padding: 10px 20px;
    }
}

/* @media screen and (max-width: 360px) {
    .dest-card-root .body .actions-reviews {
        flex-flow: column nowrap;
    }

    .dest-card-root .body .actions-reviews .user-actions {
    }
} */