.side-menu {
    position: absolute; /* Position relative to nav-bar */
    top: 100%; /* Directly below nav-right */
    right: 0; /* Align to the right of nav-bar */
    
    /* width: 100%; Match the width of nav-right exactly */
    width: 100%;
    max-height: calc(100vh - 250px); /* Prevent overflow */

    margin-top: 10px; /* Small gap between nav and menu */

    background-color: #c5c5c56b;
    backdrop-filter: blur(30px);
    border-radius: 20px;
    
    box-sizing: border-box;
    box-shadow: 0px 10px 25px -10px rgba(0,0,0,0.8);
    z-index: 1000;

    overflow-y: auto;
    overflow-x: hidden;

    display: none; /* Hidden by default */
    flex-direction: column;
}

.side-menu.active {
    display: flex;
}

.side-menu > * {
    padding: 10px;
    flex-shrink: 0; /* Prevent sections from shrinking */
}

.sidemenu-section-title {
    padding: 10px;
    margin: 5px 0;
    font-weight: bold;
    color: #343434;
    background: linear-gradient(315deg, #DBAF20, #FF7773);
    border-radius: 10px;
    backdrop-filter: blur(30px);
	font-size: 23px;
    text-align: left;

	&>svg {
        color: #343434;
		width: auto;
		height: 27px;
	}
}

.side-menu-inner-scroll {
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.sidemenu-section {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

#sidemenu-search-section {
    padding-top: 20px;
}

#sidemenu-search-section > search {
    border: 2px solid #343434;
}

#sidemenu-search-section > search:has(input:focus),
#sidemenu-search-section > search:has(.button-secondary:focus) {
	border: 2px solid #ffffff;
	border-radius: 500px;
	transition: all 200ms;
}

#sidemenu-search-section>search>input {
    visibility: visible;
}

.sidemenu-section .sidemenu-section-content .sidemenu-section-item {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

@media screen and (min-width: 1024px) {
    #sidemenu-search-section {
        display: none;
    }
}