.logo-title {
	--size: clamp(1.25rem, 1.121rem + 0.644vw, 1.875rem);

	& {
		display: inline-flex;
		flex-flow: row nowrap;
		gap: 5px;

		justify-content: center;
		align-items: center;
		color: #343434;
		background: -webkit-linear-gradient(315deg, #DBAF20, #FF7773);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		line-height: normal;
		font-size: var(--size);
	}


	&>svg {
		overflow: visible;
		width: calc(var(--size) * 2);
	}

	&>svg>.logo-background {
		color: #343434;
	}

	&>svg>.logo-foreground {
		fill: url('#logo-gradient');
	}

	&>span {
		font-weight: 600;
	}

	&>span>strong {
		font-weight: 900;
		color: #343434;
		-webkit-background-clip: initial;
		background-clip: initial;
		-webkit-text-fill-color: initial;
	}
}