.review-score {
	--size: clamp(1rem, 0.8rem + 1vw, 1.7rem);

	& {
		display: inline-flex;
		flex-direction: row;
		flex-wrap: nowrap;

		gap: clamp(0.313rem, 0.223rem + 0.446vw, 0.625rem);

		align-items: baseline;

		padding: clamp(0.313rem, 0.223rem + 0.446vw, 0.625rem) clamp(0.625rem, 0.446rem + 0.893vw, 1.25rem);

		background-color: #c5c5c5;
		border-radius: 1000px;


	}

	&>svg {
		width: auto;
		height: var(--size);
		overflow: visible;
		color: #FF5900;
	}

	&>span {
		font-weight: 700;
		font-size: var(--size);
	}
}