<a {{attributes}} style="flex-direction:{{direction}};" href="https://meinausflug.de/" class="logo-title">
    <twig:Icons:LogoIcon4 />
    <span class="title"><strong>Mein</strong>Ausflug</span>
</a>