<div {{attributes}} class="search-bar">
    <twig:Icons:SearchIcon/>
    <input autocomplete="off" placeholder="Search..." maxLength={150} spellCheck={false} type="text" id="search-field" name="search-field"/>
</div>