<nav {{attributes}} class="nav-bar">
        <twig:Components:LogoTitle/>

        <div class="nav-vertical-separator"></div>
            
        <twig:Components:SearchBar/>

        <twig:Components:NavButton style="margin-left: auto;"><twig:Icons:ThemeIcon/></twig:Components:NavButton>

        <twig:Components:Button type="secondary"><twig:Icons:LocaleIcon/>EN</twig:Components:Button>

        <twig:Components:Button type="primary"><twig:Icons:LoginIcon/>Login</twig:Components:Button>

        <twig:Components:NavButton id="nav-sidebar-toggler"><twig:Icons:HamburgerIcon/></twig:Components:NavButton>
 </nav>