<nav {{attributes}} class="nav-bar">
        <div class="nav-left">
                <twig:Components:LogoTitle/>

                <div class="horizontal-divider"></div>
                
                <twig:Components:SearchBar/>
        </div>

        <div class="nav-right">
                <twig:Components:Button type="primary"><twig:Icons:LoginIcon/>Sign In</twig:Components:Button>

                <twig:Components:Button type="secondary"><twig:Icons:LocaleIcon/>EN</twig:Components:Button>

                <twig:Components:Button id="nav-theme-toggler" type="tertiary"><twig:Icons:ThemeIcon/></twig:Components:Button>

                <twig:Components:Button id="nav-sidebar-toggler" type="tertiary"><twig:Icons:HamburgerIcon/></twig:Components:Button>
        </div>
 </nav>

 