<div id="nav-sidebar">
    <div class="mobile-screen-nav-control">
        <div class="mobile-navbar-top-buttons">
            <twig:Components:Button type="primary"><twig:Icons:LoginIcon/>Login</twig:Components:Button>
            <twig:Components:Button type="secondary"><twig:Icons:LocaleIcon/>EN</twig:Components:Button>
        </div>
        <twig:Components:SearchBar/>
    </div>
    <twig:Components:NavMenuSection sectionTitle="Navigation Section">
        <twig:Components:NavMenuItem><twig:Icons:InfoIcon/>Nav-Button</twig:Components:NavMenuItem>
        <twig:Components:NavMenuItem><twig:Icons:InfoIcon/>Nav-Button</twig:Components:NavMenuItem>
        <twig:Components:NavMenuItem><twig:Icons:InfoIcon/>Nav-Button</twig:Components:NavMenuItem>
        <twig:Components:NavMenuItem><twig:Icons:InfoIcon/>Nav-Button</twig:Components:NavMenuItem>
    </twig:Components:NavMenuSection>
</div>