{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/light-theme.css') }}">
    <style>

    </style>
{% endblock %}

{% block javascripts %}
 
{# <script>
document.addEventListener('DOMContentLoaded', function() {
    const header = document.querySelector('header');
    const navBar = document.querySelector('.nav-bar');

    const observerOptions = {
        root: null,
        rootMargin: '0px',
        threshold: 0
    };

    const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (!entry.isIntersecting) {
                document.body.classList.add('scrolled-past-header');
            } else {
                document.body.classList.remove('scrolled-past-header');
            }
        });
    }, observerOptions);

    observer.observe(header);
});
</script> #}
{% endblock %}

{% block body %}

    <twig:Components:LogoTitle direction="column" id="mobile-logo-title"/>
    <twig:Containers:Header :headerImages="header"/>
    <twig:Containers:NavBar/>

    <div style="height: 2000px;"></div>


{% endblock %}
