{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/light-theme.css') }}">

    <style>
    </style>
{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}
    {# <twig:Icons:LogoGradient/> #}
    <div style="height: 40px;"></div>
    <twig:Containers:NavBar/>
    {# <twig:Containers:Header :headerImages="header"/>
    <twig:Containers:DestinationCard :destination="destination"/> #}
    <twig:Containers:DestinationHeader destID="1" city="Dubai" :images="destImages"/>
    <br><br>
    <twig:Components:LogoTitle />
    <div style="height: 2000px;"></div>
{% endblock %}